body{
	
	background-color: #00c8c8;

	color: #006464;
	font-family: "Courrier New",Monospace;
	padding: 2%;
}
nav{
	background-color: #abf9f9;
}

h1{
	background-color: #c80064;
	text-align: center;
	margin-right: 5%;
	margin-left:5%;
	
}

strong{
	color:#c80064 ;
}

h3{
	text-align: center;
}

a{
	color: #c80064;
}

.acc{
	position: relative;
	text-align: right;
	width: 400px;
	border-color: #236a81;
	background-color: #e7e48d;
	border-style: none solid none solid;
	margin: 5px;
	padding: 10px;
}
.bouton{
	text-align: center;
}
.b{
	text-align: center;
	background-color: #035454;
	color:  #07fafa;
	border-radius: 5px;
	border-style: none;
	padding: 5px 10px 5px 10px;
}

output{
	color : red;
}

.insc{
	text-align: right;
}